*{
    margin: 0;
    padding: 0;
}
body{
    background-color:rgb(31, 31, 49);
}
#app{
    color: #fffc;
    font-style: italic;  
    font-size: 18px;  
}
.div_input_button_calcular{
    font-size: 18px; 
    background-color: rgb(194, 111, 17);
    border-radius: 15px;
    padding: 5px;
    color: #fff;
}


.cabecalho_titulo{
    color: aquamarine; 
    padding: 5px;
}
.cabecalho_titulo:hover{       
    background: linear-gradient(to right, #171718, #222221, #3f3f17,#161618);
    border-radius:10% 50% 10% 50% / 50% 10% 50% 10% ;
    color: #fadd1b;
}
.nav, .nav_link, .nav_link{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap:0.5px;
    background-color: #333;
    text-decoration: none;
    
}
.nav_link{
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 10px;
    gap:0.5px;
    color: rgb(245, 159, 30);
    background-color: rgb(54, 53, 53);
    text-decoration: none;    
    border: 2px solid rgb(134, 236, 240);
    border-radius:10% 50% 10% 50% / 50% 10% 50% 10% ;
}
 .nav_link:hover{
    border: 2px solid rgb(245, 159, 30);
    border-radius:50% 10% 50% 10% / 10% 50% 10% 50% ;
    font-style: italic;
    text-decoration: double;
    background: linear-gradient(to right, #fd9a58, #17172c, #2c2c2b,#303043, #fd9a58);
    font-style: italic;
    color: #fff;
}
.container_principal{
    display: block;  
    width: 100%;
    
}
.subtitulo{
    display: flex;
    justify-content:center;
    color: aqua;
    
}
.texto{
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-size: 18px;
    text-decoration: dotted;
    font-style: italic;
}
.image{
    display: flex;
    justify-content: center;
    padding: 5px;
    margin:10px 0 10px 450px;
    color: aliceblue;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  .nav ul li a {
    color: #fff;
    text-decoration: none;
    
  }
  
  .social-icons a {
    margin-left: 10px;
    border: 2px solid rgb(134, 236, 240);
    border-radius:10% 50% 10% 50% / 50% 10% 50% 10% ;
    padding: 10px;
  }
  .social-icons a:hover{
    border: 2px solid rgb(245, 159, 30);
    border-radius:50% 10% 50% 10% / 10% 50% 10% 50% ;
  }
  
  .social-icons img {
    width: 30px;
    height: 30px;
  }

.link_redes_rodape{
    color: rgb(245, 159, 30);
   text-decoration: none;
}
.link_redes_rodape:hover{
    color: rgb(19, 19, 19);
    font-style: italic;
    background: linear-gradient(to right, #17172c, #f8a975, #f5f79c,#17172c);
} 
.texto_rodape{
   color: #f6ed8a; 
}
.texto_rodape:hover{
    background: linear-gradient(to right, #17172c, #ed6f1b, #2c2c2b,#17172c);
}
@media(max-width:1330px){
    .cabecalho,.cabecalho_titulo, .nav, .nav_link{
        display: flex;
        padding:1%;
        flex-direction: column;
        justify-content: space-around;
        font-size: 18px;}
    .subtitulo{
    font-size: 18px;
    font-style: italic;
    }
    .texto{
        display: flex;
        padding-left:15%;    
        justify-content: space-between;
        font-size: 18px;}
    .image{
        margin:10px 0 10px 20px;
        width: 90%;
    }
    footer{
        flex-direction: column-reverse;
        padding: 25px;
        gap: 30px;
    }
    
    }
